body {margin:0; padding:0; background:#dedede; font-family: arial; font-size:12px; color:#111111;}
a {color:#005f99;text-decoration:none; font-size:12px;}
p {color:#005f99;text-decoration:none; font-size:12px;}
a:hover {text-decoration:underline;}

#top {visibility:hidden; height:0px;}

.continue-text {background:url("../images/continue-dot.png") no-repeat scroll right bottom; width:25px; height:16px;display: inline-block; margin-bottom:-3px;} 

.clearfix {clear:both;}
.align-center {text-align:center !important;}
.align-left {text-align:left !important;}
.align-right {text-align:right !important;}

#report-wrapper {width:960px; margin:0 auto; padding:0; color:#ffffff;}
.detail-report #report-wrapper {width:80%; min-width:960px;}

.light-gray {background:#eff0f4 !important; min-height:295px; padding:10px 0;}
.detail-report .light-gray {min-height:auto;}
.report-heading {width:100%; border:1px solid #005f99; background:#0b7cc0; display:block; padding:0; margin:0; position:relative; display:inline-block;}
.report-heading h1 {margin:0; padding:8px 10px 12px; font-size:26px; font-weight:bold; color:#ffffff; font-family:Verdana; float:left; }

.report-content {width:100%; border:1px solid #bbbbbb; border-top:0 none; background:#ffffff; display:inline-block;  margin:0; color:#222222; position:relative;}

.report-content h2 {margin:0; clear:both; padding:10px 20px 10px; color:#005f99; font-size:18px; font-weight:bold; font-family:Verdana; }
.report-content h2.iter-title {font-size:14px;}
.report-content h2.case-title {font-size:13px;}
.accordprefix .collepse-icon, .accordprefix .expand-icon {left: 1px; position: absolute;  top: 1px;}
.action-collepse, .action-collepse {cursor:pointer;}
.report-content ul.iter-sub-head, .report-content ul.case-sub-head {margin:0 20px; line-height:1.8; padding:0; display:inline-block; color:#005f99; list-style-type:none; }
.report-content ul.iter-sub-head li a {color:#15527f;text-decoration:none; font-size:13px; background:url("../images/arrow-title.png") no-repeat scroll 2px 3px; padding:0 0 0 15px;}
.report-content ul.case-sub-head li a {color:#15527f;text-decoration:none; font-size:12px;background:url("../images/arrow-title.png") no-repeat scroll 2px 3px; padding:0 0 0 15px;}
.report-content ul.iter-sub-head li a:hover, .report-content ul.case-sub-head li a:hover {text-decoration:underline;}
.report-content ul.iter-sub-head li a:hover, .report-content ul.case-sub-head li a:hover {text-decoration:underline;}

.pi-image {position: absolute; right: 20px; top:155px;}
.exectime { position:absolute; right:10px; top:8px; font-weight:normal; color:#111111; }
.backtop:link, .backtop:visited {background:#eff0f4;border: 1px solid #005f99;color: #005f99; text-decoration: none; padding:3px 7px 3px 5px; font-size:11px; position:absolute; bottom:5px; right:5px;}
.backtop:hover {background:#d8e9f3;}

.expand-collepse:link, .backtop:visited {background:#eff0f4;border: 1px solid #005f99;color: #005f99; text-decoration: none; padding:3px 7px 3px 5px; font-size:11px;}
.expand-collepse:hover {background:#d8e9f3;}

.report-content-summary {margin:8px 10px;}
.report-content-summary h3 {padding:8px 250px 8px 38px; margin:0; border:1px solid #b4d3e8; text-align:left; vertical-align:top; background:#d8e9f3; font-weight:bold; font-size:13px; color:#15527f; position:relative;}
.report-content-summary .iteration-details {border:1px solid #b4d3e8; border-top:0; display:block; padding:10px 0 20px; min-width:918px; position:relative; margin-bottom:5px;}
table.sub-section {position:relative;}
.detail-report .report-content-summary .iteration-details {padding:5px 0 20px; background:#eff0f4;}
table.sub-section caption {padding:8px 60px 8px 10px; margin-bottom:5px; border:1px solid #b4d3e8; text-align:left; vertical-align:top; background:#d8e9f3; font-weight:bold; font-size:13px; color:#15527f;}
table.sub-section tr td {padding:6px 10px; border:1px solid #b4d3e8; text-align:left; vertical-align:top; background:#ffffff; font-size:12px;}
table.sub-section tr.alter td {background:#eef3f7;}
table.sub-section tr th {padding:6px 10px; border:1px solid #b4d3e8; text-align:left; vertical-align:top; background:#ffffff; font-size:12px; font-weight:bold;}
table.sub-section tr.alter th {background:#eef3f7;}

.logo-image {border: 2px solid #bbbbbb; float: left; margin: 20px 0 20px 20px; padding: 4px 0 3px; text-align: center; width: 130px; background:#ffffff;}

table.stat-status {margin: 20px 20px 20px 5px; width: 780px; float:right; border: 1px solid #bbbbbb;}
.detail-report table.stat-status {margin:4px auto; float:none; width:98%;}
.detail-report table.stat-status td { border: 1px solid #bbbbbb; font-size:13px; padding:10px 20px; width:33.333%; text-align:left;}
table.stat-status caption {padding:8px 10px; margin-bottom:0; border:2px solid #bbbbbb; border-bottom:0; text-align:left; vertical-align:top; background:#eff0f4; font-weight:bold; font-size:14px; color:#333333;}
table.stat-status caption span {float:right; font-size:11px; font-weight:normal; font-style:italic;}
table.stat-status td {background:#eff0f4; min-width:100px;  line-height: 1.2;padding: 0;text-align: center; vertical-align: top;}
table.stat-status td a{	border: 1px solid #bbbbbb; display: inline-block; margin: 0;padding: 10px 2px 6px 0px;   text-decoration: none;width:98%;}
table.stat-status td span { display: block;display:inline-block;font-size: 100%;margin:-2px 3px 0 0;padding:0;text-align:left;vertical-align:top; font-family:verdana;}
table.stat-status td span.count {font-size: 200%;font-weight:bold;margin-top:-5px;}

table.case-status {margin: 15px auto; width: 460px;border: 1px solid #bbbbbb;}
table.case-status caption {padding:5px 6px; margin-bottom:0; border:2px solid #bbbbbb; border-bottom:0; text-align:left; vertical-align:top; background:#ffffff; font-weight:bold; font-size:14px; color:#333333;}
table.case-status caption span {float:right; font-size:11px; font-weight:normal; font-style:italic;}
table.case-status td {background:#ffffff; min-width:100px;  line-height: 1.2;padding: 0;text-align: center; vertical-align: top;}
table.case-status td a{	border: 1px solid #bbbbbb; display: inline-block; margin: 0;padding:7px 2px 2px 0;   text-decoration: none;width:98%;}
table.case-status td span { display: block;display:inline-block;font-size: 94%;margin:-2px 3px 0 0;padding:0;text-align:left;vertical-align:top; font-family:verdana;}
table.case-status td span.count {font-size: 160%;font-weight:bold;margin-top:-5px;}

td.total a {color:#111111;}
td.pass a {color:#18722a;}
td.fail a {color:#fe0400;}

td.pass nobr a span:hover, td.fail nobr a span:hover, td.total nobr a span:hover {text-decoration:underline;}

.pass {color:#18722a !important;}
.fail, .fail a{color:#fe0400 !important;}
.warning{COLOR: Maroon !important;}
fieldset {border:0 none; margin:0; padding:0 10px 10px;}
#setting-trigger {background:url("../images/setting.png") no-repeat scroll left top;height: 9px;padding: 12px 10px 12px 40px;position: absolute;right: 8px;
top: 20px;width: 76px;text-decoration:none;font-weight:bold;z-index:2;}
#setting-content {background:#eff0f4;display: none;padding: 5px;position: absolute;right:10px;top: 53px;width: 250px;z-index:1; box-shadow:0 0 3px 1px #0b7cc0; color:#111111;}
#setting-content h5 {font-weight:bold; font-size:13px; color:#111111; margin:0; padding:10px 0 5px;}
#setting-content .layer {background:#d7ebf2; clear: both;display: inline-block;padding: 4px;width: 222px;}
.layer > input[type="checkbox"], .layer > input[type="radio"]  {float: left;}
#setting-content input[type="submit"] {background: #0b7cc0;border:1px solid #005f99;clear: both;color: #ffffff;float: right;font-size: 13px;margin: 5px 0 0;
padding:1px 10px 2px;cursor:pointer;}
.layer label {float: left;padding: 2px;width: 85px;}


table.detail-report {width:99%; margin:0 0.5%; text-align:left;}
table.detail-report thead th {background:#b4d3e8; font-size:12px; padding:5px 6px; color:#15527f;}
.step-number {width:4%}
.step-desc {}
.input-data {width:18%}
.message-error {width:22%}
.status {width:6%}
.output {width:9%}
th.execution-time {width:11%}
table.detail-report tr td {border: 1px solid #b3d3ec; background:#ffffff; font-size:12px; padding:5px 5px; vertical-align:top; word-wrap: break-word;}
/*table.detail-report tfoot tr.fail td {border: 1px solid #fe0400; }*/
table.detail-report tr.alter td {background:#eef3f7;}
table.detail-report tfoot td {font-weight:bold; padding:15px 5px;}

.pieContainer { height: 100px; }
.pieBackground { background-color: green; position: absolute; width: 100px; height: 100px; -moz-border-radius: 50px; -webkit-border-radius: 50px; -o-border-radius: 50px; border-radius: 50px; -moz-box-shadow: -1px 1px 3px #000; -webkit-box-shadow: -1px 1px 3px #000; -o-box-shadow: -1px 1px 3px #000; box-shadow: -1px 1px 3px #000; } 
.pie { position: absolute; width: 100px; height: 100px; -moz-border-radius: 50px; -webkit-border-radius: 50px; -o-border-radius: 50px; border-radius: 50px; clip: rect(0px, 50px, 100px, 0px); }
.hold { position: absolute; width: 100px; height: 100px; -moz-border-radius: 50px; -webkit-border-radius: 50px; -o-border-radius: 50px; border-radius: 50px; clip: rect(0px, 100px, 100px, 50px); } 

.vert-bars {
    /*border: 1px solid #888;
    margin-bottom: 15px;*/
    padding: 0 25px;
    width: 210px;
}
.vert-bars ul {
    list-style-type: none;
    padding: 0;
}
/* Chart title */
.vert-bars h2, .pieheader {
    text-align: center;
}

/* Graph area */
.vert-bars .data {
    background-size: 100% 15px;
    border-bottom: 1px solid #aaa;
    float: right;
    text-align: center;
}
.vert-bars .data li {
    display: table-cell;
    font-size: 10pt;
    height: 55px;
    padding: 0 10px;
    position: relative;
    vertical-align: bottom;
}
.vert-bars .bar {
    width: 50px;
}
/* Category labels */
.vert-bars .labels {
    clear: both;
    margin-left: -10px;
    text-align: center;
}
.vert-bars .labels li {
    display: inline-block;
    font-size:11pt;
    width: 66px;
}
.tooltip {display:none;position:absolute;border:1px solid #bbbbbb;background-color:#ffffff;border-radius:3px;padding:3px 10px;color:#111111;font-size:12px Arial;margin:0;}